<div class="container">
  <%= form_for (@list) do |f| %>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-7"><h1>Terry's Compliment-O-Matic</h1></div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-9"><h1><%= f.text_area :info, size: '35x10' %></h1></div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h1><%= f.submit %></h1></div>
    <div class="col-sm-4"></div>
  </div>

  </div>
  <% end %>
</div>