<% if user_signed_in? && current_user.admin? %>
<div class="container">
  <%= form_for (@list) do |f| %>
  <div class="row">
    <div class="col-sm-12 center"><h1 class="bold title large">Terry Novello's</h1></div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 center"><h1 class="bold title large">Compliment-O-Matic</h1></div>
  </div>

  <div class="row">

    <div class="col-sm-12 center"><h1><%= f.text_area :info, size: '35x10' %></h1></div>

  </div>

  <div class="row">
    <div class="col-sm-12 center"><h1>
      <%= image_submit_tag("steering-wheel.jpg", id: "wheel", height: "200px", width: "200px") %>
    </div>
    <div class="col-sm-12 center">
      <%= f.submit "Turn the Wheel Theresa", class: "btn btn-success btn-lg" %></h1>
      <hr>
    </div>
  </div>

  </div>
  <% end %>
  <div class="container">
    <div class="row well">
      <div class="col-sm-4"><h2>Formats:</h2></div>
      <div class="col-sm-6"><h1 class="bold">Date - Call# - Driver</h1>
                                                <h4><p>1/01/16 12345 Fleet Driver
                                                <p>1/01/16 12346 Driver,Fleet
                                                <p>1/01/16 12347 Driver, Fleet
                                                </h4></div>
      <div class="col-sm-4"></div>
    </div>
    
    <div class="row well">
      <div class="col-sm-4"><h2>Restrictions:</h2></div>
      <div class="col-sm-6"><h1 class="bold">Call#'s Must be Unique</h1>
                                                <h3><p>Only one driver can get a compliment on a call
                                                <p>ex. John Doe gets Compliment on Call# 4
                                                <p>Jane Doe will be ignored if given a compliment on Call #4
                                                </h3></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  
</div>
<% elsif user_signed_in? %>
  <div class="container">
    <div class="row center">
   <h1> You must be an admin to use this program.<p> Please contact management.</h1>
  </div>
</div>
<% else %>
  <div class="container">
    <div class="row center">
   <h1> You must login to view or access any features. </h1>
  </div>
</div>

<% end %>
