// Place all the styles related to the Compliments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0px;
  padding: 0px;
}

div {
  font-family: 'Cinzel', serif;
}

.compliment {
  height: 367px;
}

#compliments-number {
  font-family: 'Cinzel', serif;
}

.compliment-selected {
  border: solid;
  border-size: 1px;
  border-color: #357ebd;
}

.navbar-brand {
  font-size: 25px !important;
}

.nav li {
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 55px;
  font-weight: bold;
  font-family: 'Indie Flower', serif;
}

.large {
  font-size: 65px;
}

.line {
  letter-spacing: -2px;
}

.bold {
  font-weight: bold;
}

.center {
  width: 100%;
  text-align: center;
}
#devise {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  input {
    font-family: Aerial, Serif;
  }
}
 .page-break {
    page-break-after: always;
    break-after: always;
  }


@media print{
  @page {
    size: landscape;
  }
  .no-print {
    display: none;
  }


  .page-break {
    page-break-after: always;
    break-after: always;
  }
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 40px 30px 30px 30px;
  #created {
    color: black;
    #heart {
      color: red;
    }
  }
}

.spin-wheel {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    width:200px;
    height:200px;
    -webkit-animation: rotation 2s linear infinite;
    -moz-animation: rotation 2s linear infinite;
    -ms-animation: rotation 2s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}

