// Place all the styles related to the Compliments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  font-family: 'Cinzel', serif;
}

.compliment {
  height: 324.73px;
  //border: solid;
  margin: 0px;
}

#compliments-number {
  font-family: 'Cinzel', serif;
}

.compliment-selected {
  border: solid;
  border-size: 1px;
  border-color: #357ebd;
}

.title {
  font-size: 55px;
  font-weight: bold;
  font-family: 'Indie Flower', serif;
}

.large {
  font-size: 65px;
}

.line {
  letter-spacing: -2px;
}

.bold {
  font-weight: bold;
}

.center {
  width: 100%;
  text-align: center;
}
#devise {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  input {
    font-family: Aerial, Serif;
  }
}
 .page-break {
    page-break-after: always;
  }


@media print{
  @page {
    size: landscape;
  }  
  .no-print {
    display: none;
  }
  .page-break {
    page-break-after: always;
  }
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 40px 30px 30px 30px;
  #created {
    color: black;
    #heart {
      color: red;
    }
  }
}

